

@using AllServiceProvider.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Admin Area</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
       @if (Request.IsAuthenticated)
       {
        <div class="container" style="margin-top:1%;font-weight:bold;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="admin"style="position:relative;left:-10px;padding:0px;float:left">
                    @Html.ActionLink("Admin Area", "dashboard", "Admin", new { area = "" }, new { @class = "navbar-brand" })
                </div>

       
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="margin-left:0%;float:right;margin-top:0px">
                    @if (@UserHelper.Count > 0)
                    {
                        <li>
                                <span class="glyphicon glyphicon-bell" style="color: #f8a901"></span>
                                <div class="bel" style="height: 15px;position:relative;width: 15px;border-radius: 100%;background-color:red;top:-25px;left: 10px  ">
                                    <p style="font-size: 13px;position:relative;left:2px;color: snow "> @UserHelper.Count</p>
                                </div>
                        </li>
                    }
                    <li>@Html.ActionLink("Manage Requests", "ContactRequests", "Admin", new { area = "" }, new { @style= "color:white;" })</li>
                    <li>@Html.ActionLink("Manage Cities", "Index", "Cities", new { area = "" }, new { @style = "color:white;" })</li>
                    <li>@Html.ActionLink("Manage Skills", "Index", "Skills", new { area = "" }, new { @style = "color:white;" })</li>
                    <li>@Html.ActionLink("Manage Site Users", "Index", "SiteUsers", new { area = "" }, new { @style = "color:white;" })</li>
                    <li>@Html.ActionLink("Manage Skill Worker User", "Index", "ServiceProviderUsers", new { area = "" }, new { @style = "color:white;" })</li>
                    <li>@Html.ActionLink("Manage Reviews", "Index", "Reviews", new { area = "" }, new { @style = "color:white;" })</li>
                </ul>

                @Html.Partial("_AdminLoginPartial")
            </div>
        </div>
       }


    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
