
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link href="~/Content/news_scroll.css" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    @*<link href="~/Content/templatemo-style.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="~/Scripts/jquery.js"></script>
    <link href="~/Content/simple-sidebar.css" rel="stylesheet" />*@
</head>
<body>
    <div ng-app="">
        <div class="container">
            @Html.Partial("_header")
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    @Html.Partial("_sidebar")
                </div>
                <div class="col-lg-10">
                    @RenderBody()
                </div>
            </div>
        </div>
        @*<div class="container" style="border:solid;">
            </div>*@
        <div class="container">
            @Html.Partial("_footer")
        </div>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)




</body>
</html>













